[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Justin Levine
	email = 20596508+justinlevinedotme@users.noreply.github.com
[core]
	excludesfile = /Users/justin/.config/git/.gitignore_global
	editor = code
[commit]
  template = ~/users/justin/.config/git/.gitmessage